In [23]:
#shift+Enter
import pandas as pd
import requests #para manejar el protocolo http
from bs4 import BeautifulSoup #es para traerse el html de páginas

In [7]:
wiki="https://en.wikipedia.org/wiki/List_of_cities_in_India_by_population"
respuesta=requests.get(wiki)

In [13]:
type(respuesta.text)

str

In [14]:
soup=BeautifulSoup(respuesta.text,'html.parser')

In [16]:
type(soup)

bs4.BeautifulSoup

In [21]:
tabla=soup.find('table',{'class':"wikitable"})

In [ ]:
tabla

In [38]:
df=pd.read_html(str(tabla))
df=pd.DataFrame(df[0])

In [39]:
df

,Rank,City,Population(2011)[3],Population(2001),State or union territory
0,1,Mumbai,12442373,11978450,Maharashtra
1,2,Delhi,11007835,9879172,Delhi
2,3,Bangalore,8425970,4301326,Karnataka
3,4,Hyderabad,6809970,3637483,Telangana
4,5,Ahmedabad,5570585,3520085,Gujarat
...,...,...,...,...,...
337,338,Jehanabad[35],102456,81503,Bihar
338,339,Kapurthala,101654,–,Punjab
339,342,Aurangabad[36],101520,79393,Bihar
340,343,Gangtok,100286,29354,Sikkim
341,344,Vasco Da Gama,100000,―,Goa

In [ ]:
###############
wikiurl="https://en.wikipedia.org/wiki/List_of_European_countries_by_life_expectancy"
respuesta=requests.get(wikiurl)
respuesta.content

In [64]:
soup=BeautifulSoup(respuesta.content,'html.parser')
tabla_0=soup.find_all("table",{'class':"wikitable"})[0]
tabla_1=soup.find_all("table",{'class':"wikitable"})[1]
tabla_2=soup.find_all("table",{'class':"wikitable"})[2]
tabla_4=soup.find_all("table",{'class':"wikitable"})[3]

In [65]:

df=pd.DataFrame(pd.read_html(str(tabla_4))[0])
df

,Rank,Country,Life expectancy[6],"Influenza vaccination rate, people aged 65 and over, 2016 (%)[7]"
0,1,Monaco[8],89.4,NaN
1,2,San Marino[9],83.4,NaN
2,3,Switzerland,83.0,NaN
3,4,Spain,82.8,56%
4,5,Liechtenstein,82.7,28%
5,6,Italy,82.7,50%
6,7,Norway,82.5,38%
7,8,Iceland,82.5,47%
8,9,Luxembourg,82.3,38%
9,10,France,82.3,50%
10,11,Sweden,82.2,49%
11,12,Malta,81.8,NaN
12,13,Finland,81.8,47%
13,14,Ireland,81.6,55%
14,15,Netherlands,81.5,65%
15,16,Portugal,81.1,58%
16,17,Greece,81.0,NaN
17,18,United Kingdom,81.0,71%
18,19,Belgium,81.0,NaN
19,20,Austria,80.9,NaN
20,21,Slovenia,80.8,10%
21,22,Denmark,80.7,41%
22,23,Germany,80.6,35%
23,24,Cyprus,80.5,NaN
24,25,Albania,78.3,NaN
25,26,Czech Republic,78.3,NaN
26,27,Croatia,78.0,21%
27,28,Estonia,77.7,3%
28,29,Poland,77.5,NaN
29,30,Montenegro,77.1,13%
30,31,Bosnia and Herzegovina,76.9,NaN
31,32,Slovakia,76.6,10%
32,33,Turkey,75.8,7%
33,34,North Macedonia,75.7,6%
34,35,Hungary,75.6,20%
35,36,Serbia,75.2,11%
36,37,Romania,75.0,8%
37,38,Bulgaria,74.6,NaN
38,39,Latvia,74.5,4%
39,40,Lithuania,74.3,23%
40,41,Belarus,73.8,NaN
41,42,Ukraine,72.1,NaN
42,43,Moldova,71.6,NaN
43,44,Russia,71.6,NaN